@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

/* RESET & BASE STYLING */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-red: hsl(14, 86%, 42%);
	--clr-green: hsl(159, 69%, 38%);
	--clr-rose-50: hsl(20, 50%, 98%);
	--clr-rose-100: hsl(13, 31%, 94%);
	--clr-rose-300: hsl(14, 25%, 72%);
	--clr-rose-400: hsl(7, 20%, 60%);
	--clr-rose-500: hsl(12, 20%, 44%);
	--clr-rose-900: hsl(14, 65%, 9%);
	--fw-normal: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;
}
/* set rem to 10px */
html {
	font-size: 62.5%;
}

body {
	font-family: "Red Hat Text", sans-serif;
	font-size: 1.6rem;
	background-color: var(--clr-rose-50);
	height: 100vh;
	width: 100%;
}

/* CONTAINER */
.container {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
}

/* DESSERTS */
.desserts-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.desserts-container h1 {
	color: var(--clr-red);
}
.desserts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* DESSERT CARDS */

.desserts .card {
	width: auto;
}

.desserts .card picture img,
.desserts .card picture source {
	width: 100%;
	border-radius: 1rem;
}

/* CART */
.cart {
	padding: 3rem;
	background-color: white;
	width: 100%;
	border-radius: 1rem;
}

.cart h2 {
	color: var(--clr-red);
	margin-bottom: 2rem;
}

.cart .cart-content .empty-cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart .cart-content .empty-cart p {
	color: var(--clr-rose-500);
	font-weight: var(--fw-semi-bold);
	font-size: 1.4rem;
	margin-top: 2rem;
}

.cart .cart-content .empty-cart img {
	width: 14rem;
}

/* ORDER CONFIRMED */

.hidden {
	display: none !important;
}

@media (min-width: 480px) {
	.desserts {
	}

	.desserts .card {
	}

	.container {
		display: flex;
		justify-content: center;
	}

	.cart {
		max-width: 65rem;
	}

	.cart .cart-content .empty-cart p {
		font-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.container {
		display: flex;
		justify-content: center;
	}

	.desserts {
		justify-content: space-between;
	}

	.desserts .card {
		width: 46%;
	}

	.cart {
		max-width: 94rem;
	}
}

@media (min-width: 1024px) {
	.container {
		padding: 3rem;
		gap: 3rem;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.desserts {
		max-width: 52rem;
		gap: 2rem;
	}

	.desserts .card {
		max-width: 25rem;
	}

	.cart {
		height: fit-content;
		width: 38rem;
		max-width: 38rem;
	}
}

@media (min-width: 1340px) {
	.container {
		padding: 7rem;
	}
	.desserts {
		max-width: 79rem;
	}
}
